@import "grid";
@import "micro-frontend";

html {
    font-family: Lato, sans-serif;
}

@media (prefers-color-scheme: dark) {
    html,
    body {
        background-color: #333;
        color: #ddd;
        margin: 0
    }
}

#app1 {
    width: 600px;
    height: 600px;
}

section {
    padding: 1rem;
}

h2 {
    font-size: 1.2rem;
    margin-bottom: .2rem;
}

footer {
    background-color: black;
    color: #666;
}